<!-- ======= About Us Section ======= -->
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>About The Advocate</strong></h2>
    </div>

    <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
        <h2>52 Years of History</h2>
        <h3>Serving Central California & Fresno's African American Community</h3>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
        <p>
            The California Advocate Newspaper was founded in 1867 by Lesly and Pauline Kimber.

            The weekly newspaper has been a maverick for African American and minoritiey citizen causes in a community once deprived of basic privileges affecting the livelihood of so many. Publisher Les Kimber took his campaign for equality...
        </p>
        <ul>
            <li><i class="ri-check-double-line"></i> Above and beyond civil liberties</li>
            <li><i class="ri-check-double-line"></i> Pushing for equal rights amongst all people</li>
            <li><i class="ri-check-double-line"></i> Looking for ways to develop long lasting laws that are fair for all</li>
        </ul>
        <p class="font-italic">
            Pushing for a better tomorrow and more free solutions for personal growth! Keep the solutions for the people and making a difference in the community.
        </p>
        </div>
    </div>

    </div>
</section><!-- End About Us Section -->