<!DOCTYPE html>
<html lang="en">

{% include "head.njk" %}

<body>

{% include "header.njk" %}

{{ content | safe }}

{% include "main.njk" %}

{% include "footer.njk" %}

<!-- JAVASCRIPT -->
{% include "js.njk" %}

</body>
</html>
