{% include "hero.njk" %}
<!-- Start #main -->
<main id="main">

  {% include "client.njk" %}
  {% include "about_us.njk" %}
  {% include "service.njk" %}
  {% include "portfolio.njk" %}

</main>
<!-- End #main -->